:host {
	width: 30px;
	display: block;
	overflow: hidden;
};

:host svg {
	width: 100%;
	height: 100%;
}

.loading-icon__background {
	fill: transparent;
}

.loading-icon__spinners {
	fill: #ffffff;
}