.shelters-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
  padding-top: 50px;
}

.filter-field {
  width: 300px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-label {

}

.filter-input {
  height: 40px;
  max-height: 40px;
  margin-top: 6px;
  padding: 5px;
  padding-left: 15px;
}

.shelter-filter {
  min-height: 30px;
  width: 200px;
}

.shelters-list {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
}