<section class="shelters-content">
  <button mat-button class="button bg-cranberry button--filter" (click)="showFilters()">Filters</button>
  <div *ngIf="isLoading">
    <sa-loading-icon [iconColor]="'#0B3954'"></sa-loading-icon>
  </div>
  <ul class="shelters-list" *ngIf="shelters.length && !isLoading">
    <sa-shelter-item *ngFor="let shelter of shelters" [ShelterData]="shelter"></sa-shelter-item>
  </ul>
  <div class="msg-container">
    <div *ngIf="!shelters.length && !isLoading && !errorMsg">
      No shelters found
    </div>
    <p class="error-msg" *ngIf="errorMsg">{{this.errorMsg}}</p>
  </div>
</section>
