:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.shelters-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0px;
}

.mat-bottom-sheet-container {
  background-color: rgba(11, 57, 84, 1);
  background-color: var(--bluejean-blue);
}

.button--filter {
  width: 250px;
  min-height: 40px;
  margin: 10px auto;
  text-transform: uppercase;
  color: #fff;
}

.shelters-list {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
}