<section class="shelters-content">
  <label class="filter-field">
    <label class="filter-label">Filter Shelters by Name</label>
    <input type="search" class="filter-input" placeholder="Filter Shelters" [(ngModel)]="filterValue" />
  </label>
  <div *ngIf="isLoading">
    <sa-loading-icon></sa-loading-icon>
  </div>
  <ul class="shelters-list" *ngIf="shelters.length && !isLoading">
    <sa-shelter-item *ngFor="let shelter of shelters | sheltersFilter:filterValue" [ShelterData]="shelter"></sa-shelter-item>
  </ul>
  <div *ngIf="!shelters.length && !isLoading">
    There are no shelters available for the type {{this.typeName}}
  </div>
</section>