<div class="grid-container">
  <sa-admin-header></sa-admin-header>
  <mat-grid-list cols="3" rowHeight="4:2">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <article class="super-stat">
            <h2 class="digit">8</h2>
            <p class="text">Shelters Pending Approval</p>
          </article>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <article class="super-stat">
            <h2 class="digit">8</h2>
            <p class="text">Shelters Active</p>
          </article>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <article class="super-stat">
            <h2 class="digit">8</h2>
            <p class="text">Shelters Inactive</p>
          </article>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="4">
      <mat-card class="dashboard-card admin-content">
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="isLoading">
            <sa-loading-icon [iconColor]="'#0B3954'"></sa-loading-icon>
          </div>
          <ul *ngIf="shelters.length && !isLoading">
            <sa-shelter-status *ngFor="let shelterInfo of shelters" [shelter]="shelterInfo" (updateStatus)="update($event)">
            </sa-shelter-status>
          </ul>
          <div *ngIf="!shelters.length && !isLoading && !errorMsg">
            No shelters found
          </div>
          <p class="error-msg" *ngIf="errorMsg">{{this.errorMsg}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>