<div class="grid-container">
  <sa-navbar></sa-navbar>
  <mat-grid-list cols="3" rowHeight="4:2">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <article class="super-stat">
            <h2 class="digit">8</h2>
            <p class="text">Shelters Pending Approval</p>
          </article>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <article class="super-stat">
            <h2 class="digit">8</h2>
            <p class="text">Shelters Active</p>
          </article>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <article class="super-stat">
            <h2 class="digit">8</h2>
            <p class="text">Shelters Inactive</p>
          </article>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="4">
      <mat-card class="dashboard-card admin-content">
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item class="super-list-item" *ngFor="let shelter of shelters">
              <article class="shelter-details">
                <p class="name">{{shelter.shelter_name}}</p>
                <p class="address">{{shelter.shelter_address}}</p>
              </article>
              <form class="form" [formGroup]="statusForm" (ngSubmit)="updateStatus()">
                <mat-form-field class="form__field">
                  <mat-select class="form__input" type="text" placeholder="Approval Status" formControlName="statusCtrl">
                    <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button class="button bg-cranberry" type="submit">
                  Update
                </button>
              </form>
            </mat-list-item>
          </mat-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>