<mat-card class="shelter-card" *ngIf="ShelterData">
  <article class="card-row-1">
    <mat-card-title class="color-bluejean shelter-name font-size-md">{{ShelterData.shelter_name}}</mat-card-title>
    <mat-card-subtitle class="color-bluejean shelter-type">{{ShelterData.shelter_type.name}}</mat-card-subtitle>
  </article>
  <mat-card-content class="font-size-sm">
    <p class="color-bluejean shelter-beds">
      {{ShelterData.available}} bed{{ShelterData.available > 1 ? '\'s' : ''}} available
    </p>
    <p class="color-bluejean shelter-updated">
      Last updated {{ShelterData.last_updated}} mins ago
    </p>
  </mat-card-content>
  <div class="card-row-3">
    <article class="shelter-location font-size-sm">
      <p class="color-bluejean shelter-street">{{ShelterData.shelter_address}}</p>
      <p class="color-bluejean shelter-location__state">
        {{ShelterData.shelter_address_city}}, {{ShelterData.shelter_address_state}}
      </p>
    </article>
    <button mat-button class="button button--phone bg-bluejean">
      <a class="button__content phone-link" href="tel:+1{{ShelterData.shelter_phone}}">
        <span class="button__text">Call</span>
      </a>
    </button>
  </div>
</mat-card>