:host {
  width: 100%;
  color: #fff;
}

header {
  width: 100%;
  height: 45px;
}

.nav-menu {
  width: 100%;
  height: 100%;
  background-color: green;
}

.nav-items {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px 20px;
}

.nav-item {
  list-style: none;
  margin: 0px 25px;
  text-align: center;
}

.nav-link {
  color: #fff;
}

.button--admin {
  height: 100%;
}