:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-link {
  margin-top: 10px;
}

.button--login.mat-button {
  margin-top: 10px;
}

.error-msg {
  text-align: center;
}
