<mat-card class="fill-space">
  <mat-card-title class="form-title">
    <p class="color-bluejean-blue form-title__text">Login</p>
  </mat-card-title>
  <mat-card-content>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
      <mat-form-field class="form__field">
        <input matInput class="form__input" type="text" placeholder="Username" formControlName="username" required>
      </mat-form-field>
      <mat-form-field class="form__field">
        <input matInput class="form__input" type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>
      <button mat-button class="button bg-cranberry" type="submit" [disabled]="loginForm.invalid || isSubmitting">
        <div class="button__content" [class.animate-up]="isSubmitting">
          <span class="button__text">Login</span>
          <span class="button__loading">
            <sa-loading-icon></sa-loading-icon>
          </span>
        </div>
      </button>
    </form>
    <div class="divider"></div>
    <a class="color-cranberry auth-link" [routerLink]="['/backend/signup']">Signup</a>
  </mat-card-content>
</mat-card>
