.home-content {
  height: calc(100% - 125px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 0px;
}

.shelter-filter {
  min-height: 30px;
  width: 200px;
}

.shelter-list {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
}

.shelter-item {
  width: 100%;
  background-color: #e3e3e3;
  margin: 20px 0px;
  padding: 15px 30px;
  line-height: 0.5;
}