.home-content {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  font-size: 1.2rem;
}

.shelter-filter {
  width: 30%;
  max-width: 30px; 
  min-height: 30px;
}