:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: flex-direction 0.4s linear;
}

@media (min-width: 450px) {
  :host {
    flex-direction: row;
  }
}

.availability__card {
  flex: 1;
  margin: 5px 0px;
}

.availability__card p {
  margin: 0px;
}

@media (min-width: 450px) {
  .availability__card {
    margin: 0px 5px;
  }
}

.card__number {
  font-size: 3.5rem;
}

.card__text p {
  font-size: 1.2rem;
  margin: 0px;
}

.grid__list {
  width: 100%;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.button-container {
  display: flex;
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
