<section class="admin-section">
  <div class="button__wrapper">
    <button
      mat-button
      class="button button--edit bg-bluejean"
      (click)="toggleEditing()"
    >
      <div class="button__content" [class.animate-up]="editing">
        <span class="button__text">Edit</span>
        <span class="button__text">Cancel</span>
      </div>
    </button>
  </div>
  <form
    class="form form--profile"
    [formGroup]="shelterForm"
    (ngSubmit)="submitForm(shelterForm)"
  >
    <mat-form-field class="form__field">
      <input
        matInput
        class="form__input"
        type="text"
        placeholder="Name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="form__field">
      <input
        matInput
        class="form__input"
        type="number"
        placeholder="EIN"
        formControlName="EIN"
      />
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-select
        class="form__input"
        type="text"
        placeholder="Shelter Type"
        formControlName="shelterType"
      >
        <mat-option *ngFor="let type of shelterTypes" [value]="type">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form__group">
      <mat-form-field class="form__field">
        <input
          matInput
          class="form__input"
          type="text"
          placeholder="Address"
          formControlName="address"
        />
      </mat-form-field>
      <mat-form-field class="form__field">
        <input
          matInput
          class="form__input"
          type="text"
          placeholder="County"
          formControlName="county"
        />
      </mat-form-field>
    </div>
    <div class="form__group">
      <mat-form-field class="form__field">
        <input
          matInput
          class="form__input"
          type="text"
          placeholder="City"
          formControlName="city"
          size="4"
        />
      </mat-form-field>
      <mat-form-field class="form__field">
        <input
          matInput
          class="form__input"
          type="text"
          placeholder="State"
          formControlName="state"
          size="4"
        />
      </mat-form-field>
      <mat-form-field class="form__field">
        <input
          matInput
          class="form__input"
          type="number"
          placeholder="Zip"
          formControlName="zipCode"
          size="4"
        />
      </mat-form-field>
    </div>
    <mat-form-field class="form__field">
      <input
        matInput
        class="form__input"
        type="tel"
        placeholder="Phone Number"
        formControlName="phone"
      />
    </mat-form-field>
    <button
      mat-button
      class="button button--update bg-cranberry"
      type="submit"
      [disabled]="shelterForm.invalid || isSubmitting"
      *ngIf="editing"
    >
      <span class="button__text">Update Details</span>
    </button>
  </form>
</section>
