<mat-card class="fill-space">
  <mat-card-title class="form-title">
    <p class="color-bluejean-blue form-title__text">Sign Up</p>
  </mat-card-title>
  <mat-card-content>
    <form class="form" [formGroup]="signupForm" (ngSubmit)="submitForm(signupForm)">
      <mat-form-field class="form__field">
        <input matInput class="form__input" type="text" placeholder="username" formControlName="username" required>
      </mat-form-field>
      <mat-form-field class="form__field">
        <input matInput class="form__input" type="password" placeholder="password" formControlName="password" required>
      </mat-form-field>
      <mat-form-field class="form__field">
        <input matInput class="form__input" type="email" placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="form__field">
        <input matInput class="form__input" type="text" placeholder="street" formControlName="street" required>
      </mat-form-field>
      <mat-form-field class="form__field">
          <input matInput class="form__input" type="text" placeholder="city" formControlName="city" required>
        </mat-form-field>
        <mat-form-field class="form__field">
            <input matInput class="form__input" type="text" placeholder="state" formControlName="state" required>
          </mat-form-field>
          <mat-form-field class="form__field">
              <input matInput class="form__input" type="number" placeholder="zipCode" formControlName="zipCode" required>
            </mat-form-field>
            <mat-form-field class="form__field">
                <input matInput class="form__input" type="tel" placeholder="phone" formControlName="phone" required>
              </mat-form-field>
              <mat-form-field class="form__field">
                  <input matInput class="form__input" type="text" placeholder="county" formControlName="county" required>
                </mat-form-field>
                
      <button mat-button class="button bg-cranberry" type="submit" [disabled]="signupForm.invalid || isSubmitting">
        <div class="button__content" [class.animate-up]="isSubmitting">
          <span class="button__text">Sign Up</span>
          <span class="button__loading">
            <sa-loading-icon></sa-loading-icon>
          </span>
        </div>
      </button>
    </form>
    <div class="divider"></div>
    <a class="color-cranberry auth-link" [routerLink]="['/backend/login']">Login</a>
  </mat-card-content>
</mat-card>
