<div class="grid-container" style="margin: 20px;">
  <sa-availability></sa-availability>
  <mat-grid-list cols="1" rowHeight="450px" class="grid__list">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <!-- Tabs Navigation -->
          <mat-tab-group [backgroundColor]="primary">
            <mat-tab label="Account Details">
              <sa-account></sa-account>
            </mat-tab>
            <mat-tab label="Shelter Details">
              <sa-shelter-details></sa-shelter-details>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
