:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  text-align: center;
}

.dialog-text {
  margin-bottom: 25px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
