.page-title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.form--profile {
  max-width: 550px;
}

.page-title__text {
  margin: 0px;
  position: relative;
  font-size: 3rem;
  color: #fff;
}

.page-title__background {
  width: 100%;
  height: 100%;
  background-color: rgba(11, 57, 84, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.settings__list .mat-list-item .mat-list-item-content .mat-list-text {
  min-height: 20px;
  display: flex;
  justify-content: center;
}

.button__wrapper {
  width: 85%;
  max-width: 550px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.button--edit {
  width: 150px;
  margin-bottom: 30px;
}

.button--update {
  width: 150px;
  margin: 0 auto;
}
