<body>
  <nav class="col-1">Nav</nav>
  <div class="col-2">
  	<header>Header</header>
    <main class="content">
        
      <form class="form" [formGroup]="signUpForm"  (ngSubmit)="save(signUpForm)">
       <mat-form-field>
              <input matInput class="form-control" placeholder="name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
            <input matInput class="form-control" type="text" placeholder="street" formControlName="street" required>
      </mat-form-field>

      <mat-form-field>
                  <input matInput class="form-control" placeholder="city" formControlName="city" required>
      </mat-form-field>  

      <mat-form-field>
           <input matInput class="form-control" placeholder="state" formControlName="state" required>
      </mat-form-field>

      <mat-form-field>
         <input matInput class="form-control" type="number"  placeholder="zipCode"  formControlName="zipCode" required>
      </mat-form-field>

        <mat-form-field>
             <input matInput class="form-control" type="tel" placeholder="phone" formControlName="phone" required>
        </mat-form-field>

      <mat-form-field>
         <input matInput class="form-control" placeholder="county" formControlName="county" required>
      </mat-form-field>
      
    <mat-form-field>
        <input matInput class="form-control" type="email" placeholder="email" formControlName="email" required>
      </mat-form-field>

        <button type="submit">submit</button>
      </form>



    
    <aside>Aside</aside>
    </main>
  	<footer>Footer</footer>
  </div>
</body>
