.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}
.col-1 {
  background: #D7E8D4;
  flex: 1;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.content {
  display: flex;
  flex-direction: row;
}
.content > article {
  flex: 3;
  min-height: 60vh;
}
.content > aside {
  background: beige;
  flex: 1;
}
header, footer {
  background: #ff408129;
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
