<div class="page-title">
  <div class="page-title__background"></div>
  <h1 class="page-title__text">Settings</h1>
</div>
<section class="admin-section">
  <div class="settings__title">Settings Group 1</div>
  <mat-card class="settings__card">
    <mat-selection-list class="settings__list">
      <mat-list-option>Setting 1</mat-list-option>
      <mat-list-option>Setting 2</mat-list-option>
      <mat-list-option>Setting 3</mat-list-option>
      <mat-list-option>Setting 4</mat-list-option>
    </mat-selection-list>
  </mat-card>
</section>

<section class="admin-section">
  <div class="settings__title">Settings Group 2</div>
  <mat-card class="settings__card">
    <mat-selection-list class="settings__list">
      <mat-list-option>Setting 5</mat-list-option>
      <mat-list-option>Setting 6</mat-list-option>
      <mat-list-option>Setting 7</mat-list-option>
      <mat-list-option>Setting 8</mat-list-option>
    </mat-selection-list>
  </mat-card>
</section>
